html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main {
    flex: 1;
    position: relative;
    background-image: url("assets/landing.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;
}
header {
    display: flex;
    align-items: flex-end;
    background-color: #decbb7;
}

nav {
    margin: 1rem 0;
    display: flex;
}

nav > h1 {
    margin: 0 1rem;
}

.logo {
    margin: 1rem;
}
.overlay {
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.29;
    display: flex;
    /*align-items: center;
    justify-content: center;*/
}

footer {
    height: 5rem;
    background-color: #decbb7;
    left: 0;
    bottom: 0;
    width: 100%;
}
