html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f7f7f6;
}

header {
    z-index: 3;
}

/*main {
    flex: 1;
    position: relative;
}*/

main.index {
    flex: 1;
    position: relative;
    background-image: url("assets/landing.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;
}

main.content {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-self: center;
    flex: 1;
    position: relative;
}

main h2 {
    font-family: "Work Sans";
    font-size: 3rem;
}

main h3 {
    margin-bottom: unset;
}

.page-title {
    font-family: "Work Sans";
    align-self: center;
}
header {
    display: flex;
    align-items: flex-end;
    background-color: #decbb7;
}

nav {
    margin: 1rem 0;
    display: flex;
    font-family: "Work Sans";
}

nav > h1 {
    margin: 0 1rem;
}

.content-img {
    /*width: 75vw;*/
    height: 350px;
    align-self: center;
    border-radius: 10px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
    margin: 1rem;
}
.overlay {
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.29;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.call-to-action {
    position: relative;
    z-index: 2; /* higher than overlay */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    text-align: center;
}

footer {
    height: 5rem;
    background-color: #decbb7;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Navbar container */
/*.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}*/

/* Links inside the navbar */
nav a {
    float: left;
    /*font-size: 3rem; */
    /*color: white;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropH1 {
    /*font-size: 3rem;*/
    display: inline-flex;
    align-items: center;
    border: none;
    outline: none;
    /*color: white;*/
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropH1 i {
    margin-left: 5px;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
